.project-card {
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
  background-color: white;
  min-height: 350px;
}

.peer-avatar {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: 5px;
}
.more-peers {
  cursor: pointer;
  color: blue;
}

#project-bi {
  height: 26px;
  color: rgb(0, 119, 255);
}

#project-bi:hover {
  text-decoration: underline;
}
